<div class="tableContainer">
  <h3>Bets</h3>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="firstPlayerName">
      <th mat-header-cell *matHeaderCellDef>1 Player</th>
      <td mat-cell *matCellDef="let element">{{ element.teams[0].name }}</td>
    </ng-container>

    <ng-container matColumnDef="secondPlayerName">
      <th mat-header-cell *matHeaderCellDef>2 Player</th>
      <td mat-cell *matCellDef="let element">{{ element.teams[1].name }}</td>
    </ng-container>

    <ng-container matColumnDef="firstPlayerWin">
      <th mat-header-cell *matHeaderCellDef>1 Win</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{ color: element.teams[0].winDisplayedColor }"
      >
        {{ element.teams[0].win | number: '1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="secondPlayerWin">
      <th mat-header-cell *matHeaderCellDef>2 Win</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{ color: element.teams[1].winDisplayedColor }"
      >
        {{ element.teams[1].win | number: '1.2-2' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="draw">
      <th mat-header-cell *matHeaderCellDef>Draw</th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{ color: element.drawDisplayedColor }"
      >
        {{ element.draw | number: '1.2-2' }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20, 100]"
    showFirstLastButtons
  ></mat-paginator>

  <app-pulling-buttons></app-pulling-buttons>
</div>
